
*{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
html{
    font-size: 62.5%;
}
body{
	font-family: "思源黑体","Microsoft YaHei","微软雅黑","MicrosoftJhengHei","华文细黑","Helvetica", "Arial", "sans-serif";
    width: 100%;
}
a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
a:focus{outline:none;}

ul,li,ol,dt,dd,dl,p,header{padding:0;margin:0;list-style:none;}


/**
 * Grid Classes
 * --------------------------------------------------
 */

.row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
	padding: 5px;
	width: 100%;
}
.row-wrap {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.row-no-padding {
	padding: 0;
}
.row-no-padding > .col {
	padding: 0;
}
.row + .row {
	margin-top: -5px;
	padding-top: 0;
}
.col {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: block;
	padding: 5px;
	width: 100%;
}
/**
 * Utility Classes
 * --------------------------------------------------
 */

.clearfix {
	*zoom: 1;
}
.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}
.clearfix:after {
	clear: both;
}
.hide {
	display: none;  
}
.opacity-hide {
	opacity: 0;
}
.grade-b .opacity-hide,
.grade-c .opacity-hide {
	opacity: 1;
	display: none;
}
.show {
	display: block;
}
.nowarp{
    white-space: nowarp;
}
.pre{
    white-space: pre !important;
}

.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-cut{
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}
.txtDot,.txtDot_2,.txtDot_3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.txtDot_2{-webkit-line-clamp: 2;}
.txtDot_3{-webkit-line-clamp: 3;}
.white{
    color: #fff;
}
.orange{
    color: #FA7508;
}
.brown{
	color:#653200;
}
.gray{
    color:#9E9E9E;
}
.bg-white{
    background: #fff;
}

.bg-gray{
    background: #F6F6F6;
}

.bg-yellow{
    background:#FDD200;
}

.bg-orange{
    background: #FA7508;
}

.line{
    height: 1px;
    line-height: 1px;
    background-color: #E1E1E1;
}

/* animation */

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0; 
		transform: translateY(15px);
	}
	100% {
		opacity: 1;
	    transform: translateY(0);
	}
}

.fadeInUp{
	 -webkit-animation: fadeInUp .5s;
  animation: fadeInUp .5s;
}

/* tbox*/
.tbox{
    display: table;
    width:100%;
}
.tbox>*{
    display:table-cell;
}

/* btn */
.btn{
    border:none;
    background-color:transparent;
    display:block;
    text-align:center;
    text-decoration:none;
    padding: 0.5rem 0;
}
.btn_black{
    border:1px solid #666;
    color:#666;
    border-radius:4px;
}
.btn_orange{
    border: 1px solid #f2911d;
    color:#f2911d;
    border-radius:4px;
}